# Node.js / Express.js
/node_modules
npm-debug.log
yarn-error.log

# SQLite3 database
*.sqlite
*.db

# Vite / Vue.js
/dist
/node_modules
/.env.local
.env
.history

# Build artifacts
/dist
/.env.local

# Logs
/logs

# Cache
/.cache

# IDE-specific files (VSCode, WebStorm, etc.)
.vscode
.idea

# Miscellaneous
.DS_Store
Thumbs.db

# Environment variables (in case you use a .env file)
.env.local
.env.production.local

# Best Guess
*.svg

